.container {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 1rem;
}

table {
    padding: 0.5rem;
    width: 100%;
}

td {
    padding: 0.2rem;
}

tr:nth-child(even) {
    background-color: #dddddd;
}