.App {
    position: relative;
}

.top-pinned {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #e0ecec;
}

.bottom-pinned {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.btn-update {
    width: 100%;
    padding: 0.6rem;

    font-size: 1.1rem;

    background-color: #577590;
    color: white;
    border: none;
}