.App {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.App-left {
    min-height: 100vh;
    background-color: rgb(46, 71, 71);
    text-align: center;
}

.App-image {
    max-width: 80%;
    margin-top: 2rem;
}